.basket {
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 4000;
    opacity: 0.7;
}

.basket:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.4s ease-out;
}


.shoping-basket {
    background-color: rgba(255,255,255,0.8);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.shoping-basket img {
    width: 60px;
    height: 60px;
    padding: 18px 8px;
    stroke: #000;
}

.cart-counter {
    width: 30px;
    height: 30px;
    background-color: #047a8e;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.show-price {
    position: absolute;
    width: 90px; 
    height: 40px; 
    margin-left: 26px;
    border-radius: 5px;
    top: 25px;
    right: 100px;
    background-color: #000;
    color: #fff;
    display: none;
}

.show-price::before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    left: 100%; 
    top: calc(50% - 8px);
    border-top: 8px solid transparent;
    border-left: 12px solid #000;
    border-bottom: 8px solid transparent;
}

.basket:hover .show-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
